$grey:#cecccc;

.navbar-lewagon {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  background: white;
  padding: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  text-decoration: none;
  &:hover {
    color: $grey;
  }
}
